@use "../../styles/scss/" as *;

.colorDots {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        border-radius: 99px;
        text-align: center;
    }
}