@use "../../styles/scss/" as *;

#loginPage {
  @include mobile {
    width: 100vw;
    height: 100vh;
  }

  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: start;
  font-size: $default-fontSize;

  .logoLoginContainer {
    height: 28%;
    width: auto;
    margin: 20px 0;

    .logoLogin {
      height: 70%;
      width: auto;
    }
  }

  .wrapLogin {
    @include mobile {
      width: 100%;
    }

    background-color: $white-color;
    display: flex;
    flex-direction: column;
    width: 550px;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 26px;
    border-radius: 8px;
    box-shadow: rgba(65, 65, 65, 0.1) 0px 0px 25px 0px;

    .title {
      font-size: $title-size;
      color: $text-color;
      font-weight: bold;
      margin: 24px 0;
    }

    // div chứa icon và input account
    .inputBox {
      background-color: $white-color;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      border-radius: 8px;
      border-color: $green-color;
      border-width: 2px;
      margin: 10px 0;
      @include user-select-none;

      .iconUserStyle {
        width: 30px;
        height: 30px;
      }

      // custom ô input
      .inputAccount {
        @include mobile {
          padding: 0 0;
        }

        background-color: transparent;
        flex: 1;
        padding: 0 32px;

        &:focus {
          outline: none;
        }

        &::placeholder {
          opacity: 0.4;
          color: $green-color;
        }
      }
    }

    // div chứa icon và input password
    .inpuPasstBox {
      background-color: $white-color;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: 16px;
      border-radius: 8px;
      border-color: $green-color;
      border-width: 2px;
      margin: 10px 0;
      @include user-select-none;

      .iconKeyStyle {
        width: 30px;
        height: 30px;
      }

      .iconEyeStyle {
        width: 24px;
        height: 16px;
      }

      .inputPassword {
        @include mobile {
          padding: 0 0;
        }

        background-color: transparent;
        flex: 1;
        padding: 0 32px;

        &:focus {
          outline: none;
        }

        &::placeholder {
          opacity: 0.4;
          color: $green-color;
        }
      }
    }

    // custom text hiển thị lỗi
    .errorText {
      color: #FF3B3B;
      align-self: flex-start;
      font-size: 14px;
      padding-left: 3px;

    }

    .btnSubmit {
      width: 100%;
      font-size: 20px;
      font-weight: bold;
      color: $white-color;
      padding: 16px 0;
      background-image: linear-gradient(to right, $green-color, $brightGreen-color);
      border-radius: 6px;
      text-align: center;
      margin: 40px 0;

      &:hover {
        cursor: pointer;
      }
    }
  }
}