@use "../../../../../../styles/scss/" as *;
// chiều cao của hàng
$height-col: 60px;
// chiều dài của cột trong item
$width-col-item: 280px;

.bodyAssignmentList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: #E2E2E2;
  height: 400px;
  overflow-y: scroll;

  .headerRow {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    padding: 10px 20px;
    background-color: #ECF0F9;
    padding: 0 30px;

    span {
      font-size: 20px;
      color: $text-color;
      font-weight: bold;
      width: $width-col-item;

      &:last-child {
        flex: 1;
      }
    }
  }

  .ListContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-size: 18px;
    padding: 0 30px;

    .itemUI {
      width: 100%;
      height: 60px;
      background-color: $white-color;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      gap: 10px;
      border-radius: 4px;

      .treeBegins {
        width: $width-col-item;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }

      .btnDelete {
        flex: 1;
        display: flex;
        justify-content: end;
        align-items: center;
      }
      .line {
        width: 1px;
        height: 70%;
        background-color: #d9d9d9;
      }
    }

    .errorItem {
      width: 100%;
      display: flex;
      flex-direction: row;

      span {
        width: 20%;
        display: flex;
        align-self: flex-start;
        height: 20px;
        color: #ff0000;
        font-size: 16px;
        font-weight: 400;
        margin-right: 20px;
      }
    }

    // Thêm mới
    .btnAddAssignment {
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 10px 0;
      font-size: 18px;
      background-color: #ffffff;
      border-radius: 3px;
      gap: 10px;

      .iconAdd {
        width: 25px;
        height: 25px;
      }

      span {
        margin-top: 3px;
        font-size: 20px;
        color: #0020ff;
        font-weight: 600;
      }
    }
  }

  .footerAssignment {
    background-color: aqua;
  }
}
