@use "../../styles/scss/" as *;

// button + icon
.buttonComponent {
    height: 45px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: $white-color;
    border-radius: 999px;
    border-width: 1px;
    border-color: $green-color;
    box-shadow: 0 1px 2px $green-color;
    padding: 8px 10px;
    gap: 12px;
    cursor: pointer;
    // Disable text selection
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    img {
        width: auto;
        height: 80%;
    }

    span {
        font-size: 14px;
        color: $text-color;
    }
}

// button xóa
.buttonDeleteComponent {
    height: 45px;
    width: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F44336;
    border-radius: 4px;
    padding: 8px 15px;
    gap: 12px;
    cursor: pointer;
    // Disable text selection
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    img {
        width: auto;
        height: 80%;
        aspect-ratio: 7/8;
    }

    span {
        font-size: 16px;
        color: $white-color;
    }
}

// button text
.buttonSimple {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #A3A2A2;
    border-radius: 4px;
    padding: 10px 50px;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    span {
        font-size: 20px;
        font-weight: bold;
        color: $white-color;
    }
}
