@use "../../../styles/scss/" as *;

.treeManageContainer {
    width: $full-screen;
    height: $full-screen;
    display: flex;
    flex-direction: column;

    .treeManageBody {
        width: 100%;
        flex: 1;
        overflow: scroll;
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        .selectionBar {
            height: 70px;
            width: 100%;
            background-color: #beb3b3;
        }
    }

}