@use "../../styles/scss/" as *;

.home {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;

    .homeRight {
        display: flex;
        flex: 1;
        background-color: #EFF6E7;
        position: relative;
        overflow: scroll;
    }
}
