@use "../../../styles/scss/" as *;

.assignmentContainer {
  width: $full-screen;
  height: $full-screen;
  display: flex;
  flex-direction: column;

  .assignmentBody {
    width: $full-screen;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 20px;
    background-color: #EFF6E7;
    overflow-y: auto;

    .toolbar {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;
      padding-bottom: 15px;
    }

    .paginationUser {
      justify-content: flex-end;
    }
  }
}
