@use "../../styles/scss/" as *;

.wrapperModal {
  background-color: #ECF0F9;
  border-radius: 8px;
  width: 100%;

  .headerModal {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .titleModal {
      flex: 1;
      font-size: 22px;
      color: $text-color;
      font-weight: bold;
      text-align: center;
      padding: 10px 0;
    }

    .iconClose {
      width: 25px;
      height: 25px;
      cursor: pointer;
    }
  }

  .bodyModal {
    width: 100%;
    padding: 12px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
