@use '../../styles/scss/' as *;

.navStyle {
  @include mobile {
    display: none;
  }
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient($green-color, $brightGreen-color);

  // Disable text selection
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .openNav {
    align-self: end;
    margin: 10px 18px 10px 10px;
  }

  .ulNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0 10px;
    gap: 15px;

    .logo {
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    li {
      position: relative;
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      font-size: 16px;
      font-weight: 600;
      gap: 10px;
      color: #fff;
      cursor: pointer;
      border-radius: 4px;
      padding: 10px;

      img {
        width: 25px;
        height: 25px;
      }

      span {
        padding-top: 3px;
      }
    }

    //style <li> được chọn
    .li_Selected {
      background-color: #fff;
      opacity: 0.7;
      color: #00502b;

      img {
        width: 25px;
        height: 25px;
        color: #00502b;
        //chuyển màu icon khi <li> được chọn
        filter: sepia(100%) saturate(300%) brightness(20%) hue-rotate(180deg);
      }
    }
  }
}
